<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Officer Profile </h1>
<form action="" method="get"><table width="200" border="1">

  <tr>
    <th scope="row">Name </th>
    <td>{{ data['officer_name'] }}</td>
  </tr>
     <tr>
    <th scope="row">Photo</th>
    <td><img src="{{ data['officer_photo'] }}"height="100" width="100">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Proof</th>
    <td><img src=" {{ data['officer_proof'] }}"height="100" width="100"></td>
  </tr>
  <tr>
    <th scope="row">Department </th>
    <td>{{ data['dept_name'] }}</td>
  </tr>
  <tr>
    <th scope="row"><p>Email</p></th>
    <td>{{ data['officer_email'] }}</td>
  </tr>
  <tr>
    <th scope="row">Contact Number </th>
    <td>{{ data['officer_contactnumber'] }}</td>
  </tr>
  <tr>
    <th scope="row">Place </th>
    <td>{{ data['officer_place'] }}</td>
  </tr>
  <tr>
    <th scope="row">District </th>
    <td>{{ data['officer_district'] }}</td>
  </tr>
</table>
</form>
</body>
</html>
