{% extends 'Admin/index-1.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="200" border="1">
  <tr>
    <th scope="col"><p><a href="/add_department">Add_department</a></p>
      <p><a href="/minister_registration">Add_minister</a></p>
      <p><a href="/view_minister">View_minister</a></p>
      <p><a href="/officer_registration">Add_officer</a></p>
      <p><a href="/view_officer">View_officer</a></p>
      <p><a href="/view_suggestions">View_suggestions</a></p>
      <p><a href="/view_complaint">View_complaints</a> </p>
      <p><a href="#"></a></p></th>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}
