<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="200" border="1">
  <tr>
    <th scope="row">#</th>
    <td>Group Name</td>
    <td>Add member</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">{{ loop.index }}&nbsp;</th>
    <td>&nbsp;{{ i['group_name'] }}</td>
    <td><p><a href="/ring_officer_view/{{ i['group_id'] }}">officer</a></p>
      <p><a href="/ring_minister_view/{{ i['group_id'] }}">minister</a></p></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
