<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post" enctype="multipart/form-data"><table width="200" border="1">
  <tr>
    <th scope="row">Name </th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required/></td>
  </tr>
  <tr>
    <th scope="row">gender</th>
    <td><p>
      <label for="textfield2"></label>
      <input type="radio" name="radio" id="radio" value="radio" />
      male
    </p>
      <p>
        <label for="radio">
          <input type="radio" name="radio" id="radio2" value="radio2" />
        </label>
      female</p></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><label for="textfield3"></label>
      <input type="email" name="textfield3" id="textfield3"required /></td>
  </tr>
  <tr>
    <th scope="row">District</th>
    <td><label for="textfield7"></label>
      <label for="select" ></label>
      <select name="select" id="select"required>
        <option>Kasargod</option>
        <option>kannur</option>
        <option>malappuram</option>
        <option>kozhikode</option>
        <option>Wayanad</option>
        <option>trissur</option>
        <option>thriuvanathpuram</option>
        <option>kollam</option>
        <option>kochi</option>
        <option>palakkad </option>
        <option>idukki</option>
        <option>alappuzha</option>
      </select></td>
  </tr>
  <tr>
    <th scope="row">Proof</th>
    <td><label for="fileField2"></label>
      <input type="file" name="fileField2" id="fileField2" required/></td>
  </tr>
  <tr>
    <th scope="row">Photo</th>
    <td><label for="textfield4"></label>
      <label for="fileField"></label>
      <input type="file" name="fileField" id="fileField"required /></td>
  </tr>
  <tr>
    <th scope="row">Contact Number</th>
    <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5"required pattern="[6789][0-9]{9}" /></td>
  </tr>
  <tr>
    <th scope="row">Place</th>
    <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" required/></td>
  </tr>
  
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Register" /></th>
    </tr>
</table>
</form>
</body>
</html>
