{% extends 'Admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table class="table table-dark" border="1">
  <tr>
    <th scope="row">#</th>
    <td>name</td>
    <td>gender</td>
    <td>email</td>
    <td>contact number </td>
    <td>place </td>
    <td>photo</td>
    <td>proof</td>
    <td>district</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">{{ loop.index }}&nbsp;</th>
    <td>&nbsp;{{ i['miniter_name'] }}</td>
    <td>{{ i['m_gender'] }}&nbsp;</td>
    <td>{{ i['minister_email'] }}&nbsp;</td>
    <td>{{ i['minister_contactnumber'] }}&nbsp;</td>
    <td>{{ i['minister_place'] }}&nbsp;</td>
    <td><img src="{{ i['minister_photo'] }}"height="100" width="100">&nbsp;</td>
    <td><img src="{{ i['minister_proof'] }}"height="100" width="100">&nbsp;</td>
    <td>{{ i['minister_district'] }}&nbsp;</td>
    <td><p><a href="/delete_minister/{{ i['minister_id'] }}"class="btn btn-danger" onclick="return confirm('Are you sure to delete?')">delete</a></p>
      <p><a href="/allocate_minister/{{ i['minister_id'] }}"class="btn btn-success">allocate</a></p></td>
  </tr>
     {% endfor  %}
</table>
</form>
</body>
</html>
{% endblock %}