{% extends 'Admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table class="table table-dark" border="1">
  <tr>
    <th scope="row">#</th>
    <td>name</td>
    <td>gender</td>
    <td>email</td>
    <td>contact number </td>
    <td>place </td>
    <td>photo</td>
    <td>proof</td>
    <td>district</td>
    <td>&nbsp;</td>
  </tr>
  {% for i in data %}
    <tr >
    <th scope="row">&nbsp;{{ loop.index }}</th>
    <td>&nbsp;{{ i['officer_name'] }}</td>
    <td>&nbsp;{{ i['o_gender'] }}</td>
    <td>&nbsp;{{ i['officer_email'] }}</td>
    <td>{{ i['officer_contactnumber'] }}&nbsp;</td>
    <td>&nbsp;{{ i['officer_place'] }}</td>
    <td> <img src="{{  i['officer_photo']}}"height="100" width="100"></td>
    <td>&nbsp;<img src="{{ i['officer_proof'] }}"height="100"width="100"></td>
        <td>&nbsp;{{ i['officer_district'] }}</td>
    <td>&nbsp;</td>
    <td><p><a href="/delete_officer/{{ i['officer_id'] }}"class="btn btn-danger" onclick="return confirm('Are you sure to delete?')">delete</a></p>
      <p><a href="/allocate_officer/{{ i['officer_id'] }}"class="btn btn-success" >allocate</a></p></td>
  </tr>
    {% endfor  %}
</table>
</form>
</body>
</html>
{% endblock %}